{% extends "auth/layout.html" %}
{% block title %}CARD | Sign Up{% endblock %}
{% block page %}CARD{% endblock %}

{{ super() }}

{% block content %}
    <h1>Sign Up</h1>
    
    <form class="auth-form text-center" action="/signup" method="POST">
        <div class="input-container">
        
            {% if not data%}
            {% set data = "" %}
            {%endif%}
            <label for="firstName" class="auth-label"> First Name </label>
            <input type="text" class="auth-input" name="firstName" value="{{ data.firstName }}" required>
                
            <label for="lastName" class="auth-label"> Last Name </label>
            <input type="text" class="auth-input" name="lastName" value="{{ data.lastName }}" required>

            <label for="email" class="auth-label"> Email </label>
            <input type="text" class="auth-input" name="email" value="{{ data.email }}" required>

            <label for="password" class="auth-label"> Password </label>
            <input type="password" class="auth-input" id="pw" name="password" value="{{ data.password }}" required>
            
        </div>
        <input type="submit" value="SIGNUP" id="signup-btn" class="submit-btn red btn-large">
    </form>
    <span class="center">
        <div class="nobr sign align-center">
            Already have an account?  <a href="/login" class="invisible">  Login </a>
        </div>
    </span>
{% endblock %}
{{ super() }}
