{% extends "layout.html" %}
{% block title %} Add Student{% endblock %}
{% block page %}Add Student{% endblock %}

{{ super() }}

{% block content %}
    <h4>Add Student</h4>
    <form style="margin-top:8vh;" class="add-student-form text-center" action="/students/new" method="POST">
    <div class="input-container">
    
        {% if not data%}
        {% set data = "" %}
        {%endif%}
        <label for="firstName" class="auth-label"> First Name </label>
        <input type="text" class="auth-input" name="firstName" value="{{ data.firstName }}" required>
        
        <label for="lastName" class="auth-label"> Last Name </label>
        <input type="text" class="auth-input" name="lastName" value="{{ data.lastName }}" required>
        
        <label for="faculty" class="auth-label"> Faculty </label>
        <input type="text" class="auth-input" name="faculty" value="{{ data.faculty }}" required>
        
        <label for="programme" class="auth-label"> Programme </label>
        <input type="text" class="auth-input" name="programme" value="{{ data.programme }}" required>
        
    </div>
    <input type="submit" value="Add Student" id="add_student-btn" class="submit-btn btn red btn-large">
{% endblock %}
{{ super() }}
    
