{% extends "auth/layout.html" %}
{% block title %}CARD | Add Student{% endblock %}
{% block page %}CARD{% endblock %}

{{ super() }}

{% block content %}
    <h1>Add Student</h1>
    
<main class="auth">
   
    <form class="auth-form text-center" action="/add_student" method="POST">
        <div class="input-container">
        
            {% if not data%}
            {% set data = "" %}
            {%endif%}
            <label for="student_id" class="auth-label"> Student ID </label>
            <input type="text" class="auth-input" name="student_id" value="{{ data.student_id }}" required>

            <label for="firstName" class="auth-label"> First Name </label>
            <input type="text" class="auth-input" name="firstName" value="{{ data.firstName }}" required>
            
            <label for="lastName" class="auth-label"> Last Name </label>
            <input type="text" class="auth-input" name="lastName" value="{{ data.lastName }}" required>
            
            <label for="faculty" class="auth-label"> Faculty </label>
            <input type="text" class="auth-input" name="faculty" value="{{ data.faculty }}" required>
            
            <label for="programme" class="auth-label"> Degree </label>
            <input type="text" class="auth-input" name="programme" value="{{ data.programme }}" required>
            
        </div>
        <input type="submit" value="Add Student" id="add_student-btn" class="submit-btn">
 
</main>
{% endblock %}
{{ super() }}
    
