{% extends "auth.html" %}
{% block title %}Add a Student{% endblock %}
{% block page %}CARD{% endblock %}

{{ super() }}

{% block content %}
    <h1>Add a Student</h1>

<main class="add-student">
    <form class="auth-student-form text-center" action="signup" method="POST">
        <div class="input-container">

        <label for="fname" class="auth-label"> First Name </label>
        <input type="text" class="auth-input" name="fname" required>

        <label for="lname" class="auth-label"> Last Name </label>
        <input type="text" class="auth-input" name="lname" required>

        <label for="email" class="auth-label"> Email </label>
        <input type="text" class="auth-input" name="email" required>

        <label for="faculty" class="auth-label"> Faculty </label>
        <input type="text" class="auth-input" id="faculty" name="faculty" required>

        <label for="programme" class="auth-label"> Programme </label>
        <input type="text" class="auth-input" id="programme" name="programme" required>
       
        </div>
        <input type="submit" value="Add" id="add-student-btn" class="submit-btn">
    </form>
</main>

{% endblock %}
{{ super() }}
