{% extends "layout.html" %}
{% block title %}DRAC Conduct Tracker{% endblock %}
{% block page %}DRAC Conduct Tracker{% endblock %}

{{ super() }}

{% block content %}
    <h1>Sign Up</h1>
    
<main class="auth">
    <form class="auth-form text-center" action="signup" method="POST">
        <div class="input-container">
        <label for="username" class="auth-label"> USERNAME </label>
        <input type="text" class="auth-input" name="username" required>

        <label for="pass" class="auth-label"> PASSWORD </label>
        <input type="password" class="auth-input" id="pw" name="password" required>
       
        </div>
        <input type="submit" value="SIGNUP" id="signup-btn" class="submit-btn" disabled>
    </form>
    <span class="center">
        <div class="nobr sign align-center">
            Already have an account?  <a href="/login" class="invisible">  Login </a>
        </div>        
    </span>
</main>
{% endblock %}
{{ super() }}
