{% extends "layout.html" %}
{% block title %}CARD | Home{% endblock %}
{% block page %}Dashboard{% endblock %}

{{ super() }}

{% block content %}
<main class="main-container">
    <div class="wrap">
        <div class="search">
            <input type="text" class="search" placeholder="Enter student name or id">
            <button type="submit" class="red search-btn waves-effect waves-light btn btn-small">
                SEARCH<i class="fa fa-search"></i>
            </button>
        </div>
        </div>
    <div class="students-area">
        <section class="card-container" >
            {%if students%}
            {%for student in students %}
                <div class="card student-card">
                    <div class="card-content">
                        <a href="/user/{{student.id}}" ><h5 style="margin-bottom: 20px;">{{student.firstName}} {{student.lastName}}</h5>
                        <h6>{{student.faculty}}</h6>
                        <p> {{student.programme}}</p>
                        <p style="margin-top:20px;">
                            <p> karma </p>
                        </p>
                    </a>
                    </div>
                </div>
            {%endfor%}
        {%endif%}
        </section>
    </div>
    </main>
{% endblock %}
{{ super() }}
